CONTEXT_PATH=application-programming-interface

DB_URL=jdbc:mysql://localhost:3309/
DB_USERNAME=person_01
DB_PASSWORD=my-secret-password00
DB_MONGO_USERNAME=example_username
DB_MONGO_PASSWORD=D1fficultP%40ssw0rd

JWT_ISSUER_URI=https://auth.example.com
COGNITO_DOMAIN=https://auth.us-east-1.amazoncognito.com

POST_PAGE_SIZE=30
USER_PAGE_SIZE=10

API_DOCS_PATH=api-docs
SWAGGER_UI_PATH=swagger-ui

REDIS_BASE_TTL_DURATION_SECONDS=300
REDIS_POST_TTL_DURATION_SECONDS=3600
DB_REDIS_HOST=my-redis
DB_REDIS_PORT=6380

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET_NAME=your-s3-bucket-name
S3_ROOT_PREFIX=your/root/prefix
AVATAR_IMAGE_FORMATS=image/jpeg,image/jpg,image/png