CONTEXT_PATH=application-programming-interface

DB_URL=jdbc:mysql://localhost:3309/
DB_USERNAME=person_01
DB_PASSWORD=my-secret-password00
DB_MONGO_USERNAME=example_username
DB_MONGO_PASSWORD=D1fficultP%40ssw0rd

JWT_ISSUER_URI=https://auth.example.com
COGNITO_DOMAIN=https://auth.us-east-1.amazoncognito.com

PAGE_SIZE=30

API_DOCS_PATH=api-docs
SWAGGER_UI_PATH=swagger-ui

REDIS_TTL_DURATION_SECONDS=300